html, body {
	height: 100%;
	margin: 0; 
	width: 100%;
}

#root {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.mt-5 {
	margin-top: 5px;
}

.mt-10 {
	margin-top: 10px;
}

.mb-5 {
	margin-bottom: 5x;
}

.mb-10 {
	margin-bottom: 10px;
}

$sizes: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12;

@each $size in $sizes {
  .col-#{$size} {
    width:  percentage($size/12);
	float: left;
  }
}


