//HCH 
//25/05/2021
//Colors
$primary: #2E5266;
$secondary: #6E8898;
$cadet-grey: #9fb1bcff;
$timberwolf: #d3d0cbff;
$maize-crayola: #e2c044ff;

// $persian-green: #00a896ff;
// $mountain-meadow: #02c39aff;
// $pale-spring-bud: #f0f3bdff;